.navbar.navbar-extend-lg.navbar-light.bg-light{
height:100px;
}

.navbar-brand{
font-size:50px;
}

.dogcat_answer{
    font-size:40px;
}

.dogcat_percentage{
    font-size:40px;
}

.top-content{
    display:flex;
    background-image: url("labo-image.jpg");
    background-color:rgba(255,255,255,0.7);
    background-blend-mode:lighten;
    background-size: cover;
}
.bot-top-page{
    height:calc(100vh - 100px);
    width: 50%;
    background-image: url("bot-half.png");
    background-size: cover;
    background-position: center 20px;
}
.select-content{
    height:calc(100vh - 100px);
    width:50%;
}

.dogandcat-image{
    height:100vh;
    background-image: url("dogandcat.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center 200px;
    opacity: 0.8;
}

.dogcat-link{
    display: inline-block;
    margin-left:300px;
    margin-top:200px;
    color:black;
    font-size:40px;
    border-bottom:4px solid;
}

a.dogcat-link:link {
    text-decoration: none;

}

.dogcat-link {
    display: inline-block;
    margin-left:250px;
    margin-top:150px;
    color:black;
    font-size:40px;
    border-bottom:4px solid;
}

.draw-link {
    display: inline-block;
    margin-left:250px;
    margin-top:150px;
    color:black;
    font-size:40px;
    border-bottom:4px solid;
}

a.draw-link:link {
    text-decoration: none;
  }

.draw-introduction{
    margin-left:250px;
    font-size:25px;
}

.dogcat-introduction{
    margin-left:250px;
    font-size:25px;
}