<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    {% load static %}
    {% load bootstrap4 %}
    {% bootstrap_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'dogcat/css/style.css' %}">
    {% bootstrap_javascript jquery='full' %}
    <title>LOVERY BOT | {% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'dogcat:top_page' %}">LOVERY BOT</a>
    </nav>
    <div class="dogandcat-image">
    <div class="container">
        <div>
    <h4 class="mt-4 mb-5 border-bottom">犬・猫判定</h4>
    <p>画像ファイルを選択して推定ボタンをクリックしてください。</p>
        <form action="{% url 'dogcat:predict' %}" method="post" class="form" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <div class="custom-file">
                {{ form.image }}
                <label class="custom-file-label" for="customFile">
                    推定したいファイルを選択してください。
                </label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">推定する！</button>
    </form> 
</div>
    </div>
    </div>
</body>
</html>
